body {
    background-color: #ccccff;
    font-size: 14pt;
    font-weight: bold;
    font-family: sans-serif;
}

h1 {
    text-align: center;
    font-size: 32pt;
    font-weight: bold;
    margin: 0;
}

textarea {
    width: 90%;
    height: 400px;
    font-size: 12pt;
    font-weight: bold;
    font-family: monospace;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

fieldset {
    border-width: 5px;
    border-color: black;
    border-style: solid;
    display: inline;
    text-align: center;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
}

.controls {
    margin: 0 auto;
    display: inline-block;
    width: 100%;
    text-align: center;
}
